## project notes

- datafiles have been downloaded in csv format.
- those files are extracted to a project folder.
- virtual environment is created in vscode. (python -m venv .venv)
- virtual environment is activated. 
- required libraries have been installed. (pip install pandas)

In [15]:
import pandas as pd

df=pd.read_csv(r"C:\Users\Asus\OneDrive\Desktop\DataScienceTasks\task1\data\world_population.csv")
dim=df.ndim
print(df)
print(dim)   #dimensions of dataset

     Rank CCA3  Country/Territory           Capital Continent  \
0      36  AFG        Afghanistan             Kabul      Asia
1     138  ALB            Albania            Tirana    Europe
2      34  DZA            Algeria           Algiers    Africa
3     213  ASM     American Samoa         Pago Pago   Oceania
4     203  AND            Andorra  Andorra la Vella    Europe
..    ...  ...                ...               ...       ...
229   226  WLF  Wallis and Futuna          Mata-Utu   Oceania
230   172  ESH     Western Sahara          El Aaiún    Africa
231    46  YEM              Yemen             Sanaa      Asia
232    63  ZMB             Zambia            Lusaka    Africa
233    74  ZWE           Zimbabwe            Harare    Africa

     2022 Population  2020 Population  2015 Population  2010 Population  \
0           41128771         38972230         33753499         28189672
1            2842321          2866849          2882481          2913399
2           44903225         43451666         39543154         35856344
3              44273            46189            51368            54849
4              79824            77700            71746            71519
..               ...              ...              ...              ...
229            11572            11655            12182            13142
230           575986           556048           491824           413296
231         33696614         32284046         28516545         24743946
232         20017675         18927715         16248230         13792086
233         16320537         15669666         14154937         12839771

     2000 Population  1990 Population  1980 Population  1970 Population  \
0           19542982         10694796         12486631         10752971
1            3182021          3295066          2941651          2324731
2           30774621         25518074         18739378         13795915
3              58230            47818            32886            27075
4              66097            53569            35611            19860
..               ...              ...              ...              ...
229            14723            13454            11315             9377
230           270375           178529           116775            76371
231         18628700         13375121          9204938          6843607
232          9891136          7686401          5720438          4281671
233         11834676         10113893          7049926          5202918

     Area (km²)  Density (per km²)  Growth Rate  World Population Percentage
0        652230            63.0587       1.0257                         0.52
1         28748            98.8702       0.9957                         0.04
2       2381741            18.8531       1.0164                         0.56
3           199           222.4774       0.9831                         0.00
4           468           170.5641       1.0100                         0.00
..          ...                ...          ...                          ...
229         142            81.4930       0.9953                         0.00
230      266000             2.1654       1.0184                         0.01
231      527968            63.8232       1.0217                         0.42
232      752612            26.5976       1.0280                         0.25
233      390757            41.7665       1.0204                         0.20

[234 rows x 17 columns]
2

In [14]:
#datatypes in the dataset
df.info()

2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country/Territory            234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (km²)                   234 non-null    int64
 14  Density (per km²)            234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

In [16]:
df.head(10)    #first 10 elements in dataset
df.tail(15)    #last 15 elements in dataset

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
219,97,ARE,United Arab Emirates,Abu Dhabi,Asia,9441129,9287289,8916899,8481771,3275333,1900151,1014048,298084,83600,112.9322,1.0081,0.12
220,21,GBR,United Kingdom,London,Europe,67508936,67059474,65224364,62760039,58850043,57210442,56326328,55650166,242900,277.9289,1.0034,0.85
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
222,200,VIR,United States Virgin Islands,Charlotte Amalie,North America,99465,100442,102803,106142,108185,100685,96640,63446,347,286.6427,0.9937,0.00
223,133,URY,Uruguay,Montevideo,South America,3422794,3429086,3402818,3352651,3292224,3117012,2953750,2790265,181034,18.9069,0.9990,0.04
224,43,UZB,Uzbekistan,Tashkent,Asia,34627652,33526656,30949417,28614227,24925554,20579100,15947129,12011361,447400,77.3975,1.0160,0.43
225,181,VUT,Vanuatu,Port-Vila,Oceania,326740,311685,276438,245453,192074,150882,118156,87019,12189,26.8061,1.0238,0.00
226,234,VAT,Vatican City,Vatican City,Europe,510,520,564,596,651,700,733,752,1,510.0000,0.9980,0.00
227,51,VEN,Venezuela,Caracas,South America,28301696,28490453,30529716,28715022,24427729,19750579,15210443,11355475,916445,30.8820,1.0036,0.35
228,16,VNM,Vietnam,Hanoi,Asia,98186856,96648685,92191398,87411012,79001142,66912613,52968270,41928849,331212,296.4472,1.0074,1.23
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [22]:
unique_value=df["Continent"].unique()         #unique values in continent column
print(unique_value)

['Asia' 'Europe' 'Africa' 'Oceania' 'North America' 'South America']

In [31]:
df.sort_values(by="Country/Territory")                        
print(df)

     Rank CCA3  Country/Territory           Capital Continent  \
0      36  AFG        Afghanistan             Kabul      Asia
1     138  ALB            Albania            Tirana    Europe
2      34  DZA            Algeria           Algiers    Africa
3     213  ASM     American Samoa         Pago Pago   Oceania
4     203  AND            Andorra  Andorra la Vella    Europe
..    ...  ...                ...               ...       ...
229   226  WLF  Wallis and Futuna          Mata-Utu   Oceania
230   172  ESH     Western Sahara          El Aaiún    Africa
231    46  YEM              Yemen             Sanaa      Asia
232    63  ZMB             Zambia            Lusaka    Africa
233    74  ZWE           Zimbabwe            Harare    Africa

     2022 Population  2020 Population  2015 Population  2010 Population  \
0           41128771         38972230         33753499         28189672
1            2842321          2866849          2882481          2913399
2           44903225         43451666         39543154         35856344
3              44273            46189            51368            54849
4              79824            77700            71746            71519
..               ...              ...              ...              ...
229            11572            11655            12182            13142
230           575986           556048           491824           413296
231         33696614         32284046         28516545         24743946
232         20017675         18927715         16248230         13792086
233         16320537         15669666         14154937         12839771

     2000 Population  1990 Population  1980 Population  1970 Population  \
0           19542982         10694796         12486631         10752971
1            3182021          3295066          2941651          2324731
2           30774621         25518074         18739378         13795915
3              58230            47818            32886            27075
4              66097            53569            35611            19860
..               ...              ...              ...              ...
229            14723            13454            11315             9377
230           270375           178529           116775            76371
231         18628700         13375121          9204938          6843607
232          9891136          7686401          5720438          4281671
233         11834676         10113893          7049926          5202918

     Area (km²)  Density (per km²)  Growth Rate  World Population Percentage
0        652230            63.0587       1.0257                         0.52
1         28748            98.8702       0.9957                         0.04
2       2381741            18.8531       1.0164                         0.56
3           199           222.4774       0.9831                         0.00
4           468           170.5641       1.0100                         0.00
..          ...                ...          ...                          ...
229         142            81.4930       0.9953                         0.00
230      266000             2.1654       1.0184                         0.01
231      527968            63.8232       1.0217                         0.42
232      752612            26.5976       1.0280                         0.25
233      390757            41.7665       1.0204                         0.20

[234 rows x 17 columns]

In [33]:
if Continent=Asia:
    print(Country/Territory)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3139520392.py, line 1)